* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #193470;
    margin-top: 30px;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Helvetica;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
  
  #output {
    border: 2.5px dotted black;
    width: 80%;
    height: 30%;
    margin: auto;
    display: flex;
    border-radius: 20px;
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: red;
    font-weight: bold;
    margin-left: 9px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    width: 25%;
  }
  
  .red {
    background-color: #a31f10;
  }
  
  .grey {
    background-color: #736362;
  }
  
  #text {
    font-family: Monospace;
    font-size: 15px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  input {
    border: 0;
    border-radius: 3px;
    width: 70%;
    font-size: 15px;
  }